body {
    text-align: center;
}

button {
    background-color: rgba(255, 0, 0, 0.755);
    border: none;
    padding: 8px 15px;
    font-weight: bold;
    font-size: 25px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.5s;
    color: yellow;
}

button:hover {
    background-color: rgb(255, 234, 0);
}